.Leaderboard table  {width:40vw;  justify-items: right; margin-top:100px;
}
 table {margin-top: 40px;}
.Leaderboard table td {text-align: right;}
.leaderboard-title {margin:100px 0 60px 0; }
.leaderboard-title  h2 {margin-bottom:60px}
.Leaderboard .leaderboard-title h2 {
    font-weight: 500;
  }
  .your-name {color:rgb(255, 137, 53); font-weight:600 ; background: #F8F8F8;}
.Leaderboard .back-button {display:block;margin :50px auto; }


@media screen and (max-width:1040px) {
    .Leaderboard table {min-width:70vw}
    
}

@media screen and (max-width:540px) {
    .Leaderboard table {min-width:90vw}
    
}