.dashboard-container{
    display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
width:100vw;
margin-top:50px;
}
h1,h2 {color:dodgerblue; text-align: center;}
h3{text-align: center;}