.InitialButtons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 70px auto 50px;
    font-family: Arial, sans-serif;
}

.button-container {
    display: flex;
    gap: 100px;
}

.round-button {
    width: fit-content;
    padding: 18px;
    border-radius: 5%;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.red-button {
    background-color: rgba(200, 86, 86, 0.5); 
}

.red-button.active {
    opacity: 1;
    background-color: rgba(244, 35, 35, 0.8);
}

.green-button {
    background-color: rgba(0, 140, 93, 0.5); 
}

.green-button.active {
    opacity: 1;
    background-color: rgb(4, 132, 6, 0.8);
}

.link-style {
    text-decoration: none;
}
@media screen and (max-width: 500px) {
    .InitialButtons, .button-container { display:block; margin:20px auto; 
     }
    .round-button {margin: 50px auto  0; width:200px;} 
    }