.Vote {align-self:center;justify-self: left; position:relative; right:70px; padding:20px; 
}
.Vote form {flex-direction: row;}
.Vote label {display: flex; font-size:16px;}

.vote-button { display:block; 
    width: 100px; 
    height: 50px; 
     margin-left: 60px;
    padding: 8px;
    font-size: 16px;
    background-color:var(--main-color); 
    color: white; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:var(--button-green);
  }

  .vote-button:hover {
    opacity: 0.8; 
    cursor: pointer;

  }


  /* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: dodgerblue;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  
@media screen {max-width:350px
    
}