html {
  box-sizing: border-box;
  margin:0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
--main-color: teal;
 --main-bg-color:  rgb(243, 243, 225);
 --button-green: rgb(4, 132, 6, 0.8);
 --shadow-grey:#ccc;
}

