.Nav {
    display: flex;
    justify-content: space-between; 
    justify-items:center;
    background-color: var(--main-color); 
    padding: 10px 40px; 
    margin:0;
    
  }
  
  .Nav ul {
    display: flex;
    list-style-type: none; 
    margin: 10px 0;
    padding: 0;
  }
  
  .Nav li {
    margin-right: 20px; 
    color:#fff;
  }
  
  .Nav li a {
    text-decoration: none;
    color: white; 
    padding: 10px; 
    text-decoration: font-style 0.1s ease-in-out; 
  }
  
  .Nav li a:hover {
    text-decoration: underline; /* Bold font weight on hover */
  }
  